.card {
    /* background: rgb(225 240 255) !important; */
    background: linear-gradient(135deg, rgb(253 254 255) 0%, rgb(225 240 255) 100%), url(../../assets/img/adminbg.jpg) center center no-repeat !important;
    background-size: cover !important;
}

.card {
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  /* margin: 0px !important; */
}
.row.g-4 .card{
    margin: 0px !important;
}
/* .card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
} */

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

/* .card:hover .icon-circle {
  transform: rotate(12deg) scale(1.1);
  background: rgba(255, 255, 255, 0.9);
} */


.card.bg-primary:hover {
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.5);
}

.card.bg-success:hover {
  box-shadow: 0 8px 20px rgba(40, 167, 69, 0.5);
}

.card.bg-warning:hover {
  box-shadow: 0 8px 20px rgba(255, 193, 7, 0.5);
}

.card.bg-danger:hover {
  box-shadow: 0 8px 20px rgba(220, 53, 69, 0.5);
}



    .card.p-3.d-flex.flex-row.align-items-center.bg-primary.text-white.dash11 {
        background: linear-gradient(135deg, rgb(18 86 141 / 83%) 0%, rgb(39 57 155 / 70%) 100%),
         url(../../assets/img/2.jpg) center center no-repeat !important;
         
    background-size: cover !important;
    }

    .card.p-3.d-flex.flex-row.align-items-center.bg-primary.text-white.dash12{
background: linear-gradient(135deg, rgb(119 73 199 / 68%) 0%, rgb(114 68 195) 100%), 
url(../../assets/img/2.jpg) center center no-repeat  !important;
         
    background-size: cover !important;
}

 .card.p-3.d-flex.flex-row.align-items-center.bg-primary.text-white.dash13{
background: linear-gradient(135deg, rgb(137 22 157 / 79%) 0%, rgb(233 30 99 / 87%) 100%), url(../../assets/img/2.jpg) center center no-repeat !important;
         
    background-size: cover !important;
}

.breadcrumb {
  background: #f8f9fa;
  font-size: 0.95rem;
  display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb a:hover {
  text-decoration: underline;
}


div#sidebar {
    display: none;
}
.page-wrapper {
    margin-left: 0px !important;
}
a#toggle_btn {
    display: none !important;
}


/* Custom CSS for multi-level dropdown */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm {
    margin-top: 80px;
}
.page-wrapper {
    padding-top: 8px !important;
}
ol.breadcrumb {
    padding: 0px 20px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm {
    background: linear-gradient(135deg, rgb(119 73 199 / 68%) 0%, rgb(114 68 195) 100%), 
url(../../assets/img/menubg1.png) center center no-repeat  !important;
         
    background-size: cover !important;
}
i.fi.fi-tr-angle-double-small-right {
    font-size: 16px;
    font-weight: 900;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation: moveRight 3s linear infinite;
  opacity: 0.6; /* light effect */
  margin-right: 20px;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
    opacity: 0.3;
  }
  50% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.3;
  }
}
li.list-group-item {
    display: flex;
}

.d-flex {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    padding: 0px 50px 0px 0px;
}
hr {
    margin: 10px 0px !important;
}
h4 {
    margin-bottom: 0px;
    margin-top: 15px !important;
}
.container-fluid.mt-4 {
    margin: 0px !important;
    padding: 0px !important;
}
h4 {
    margin-bottom: 0px !important;
}

    .page-wrapper {
        background: linear-gradient(45deg, rgb(255 255 255 / 8%) 0%, rgba(116, 15, 214, 0.27) 100%) 0% 0% / cover,
         url(../../assets/img/hero-bg.jpg) center center no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        opacity: 1;
    }
    .container-fluid.mt-4 h6.d-flex {
    display: flex !important
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
li.breadcrumb-item a {
    color: #000000 !important;
    font-weight: 600;
}
ul.navbar-nav.ms-auto a.nav-link {
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul.navbar-nav.ms-auto a.nav-link i.fi {
    margin-right: 5px;
}
.card p {
    font-size: 28px;
    line-height: 14px;
    margin-top: 12px;
    color: #002d5e;
}
.card.shadow-sm.p-3 .card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1) inset, -7px -7px 8px rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #d1cdee;
}


/* PSRM Tool */
.table thead {
      background: #0d6efd;
      color: #fff;
    }
    .table tbody tr:hover {
      background: #f1f7ff;
      transition: 0.2s;
    }
    .badge-total {
      background: rgba(13, 110, 253, 0.15) !important;
      color: #0d6efd !important;
      font-size: 14px !important;
      padding: 6px 12px !important;
    }
    .badge-open {
      background: rgba(255, 193, 7, 0.15)!important;;
      color: #ffc107!important;;
      font-size: 14px!important;;
      padding: 6px 12px!important;;
    }
    .badge-assigned {
      background: rgba(25, 135, 84, 0.15)!important;;
      color: #198754!important;;
      font-size: 14px!important;;
      padding: 6px 12px!important;;
    }
    .badge-total, .badge-open, .badge-assigned {
      border-radius: 8px !important;
      font-weight: 600 !important;
    font-size: 20px !important;
    min-width: 60% !important;
    min-height: 34px !important;
    font-family: 'Mada' !important;
}

p.btn-sm.btn-click.btn-info {
    height: 41px;
    margin-bottom: 0px !important;
    margin-left: 10px;
    padding-top: 8px;
}
select#filterStatus\ date {
    width: 100%;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 14px;
    padding-left: 42px;
}
i.fi.fi-tr-calendar-lines-pen {
    position: absolute;
    top: 15px;
    margin-left: 14px;
}